.btnList{
    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
    list-style: none;
    gap: 25px;
}

.btn {
    display: inline-block;
    border: 1px solid transparent;
    min-width: 170px;
    padding: 16px 32px;
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.19;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgb(10, 5, 80);
    background-color: rgba(20, 136, 224, 0.464);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(210, 224, 20, 0.968);
}